<!DOCTYPE html>
<html>
<head>
  <title>EjemploVenta</title>
	<%= javascript_include_tag "http://code.jquery.com/jquery-1.9.1.js"%>
	<%=javascript_include_tag "jquery-rails.js"%>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</body>
</html>


